{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table>
    {% for user in users %}
    <tr>
    <td>{{ user.nom }}</td><td>{{ user.prenom }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}